@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teko:wght@300..700&display=swap');

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #d9c3a9;
}
h1{
  font-weight: 300;
  margin: 10px;
  padding-top: 20px;
  font-size: 50px;
  color: #404040;
  font-family: Teko;
  font-weight: bold;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
  font-family: Roboto Slab;
  color: #404040;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}

button{
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #6f8c52;
  color: #f2f2f2;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover{
  background-color: #4d7327;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

#results {
    display: block;
  }