body{
    background-color: #d9c3a9; /* Baggrundsfarve - fra vores farvepalette */
}

h1 {
    margin-top: 20px;  /*Automatiserer topmargen */
    font-size: 50px; /* Skriftstørrelse */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Skrifttype */
    font-weight: bold; /* Gør teksten fed */
    color: #404040; /* Tekstfarve */
    text-align: center; /* Centrerer teksten */
    z-index: 11; /* Sørger for, at den er bag andre elementer med højere z-index */
    transition: opacity 0.5s ease; /* Glidende overgang for gennemsigtighed */
    overflow: hidden; /* Skjuler overskydende indhold*/
  }

#returnButton{
    font-size: 16px; /* Størrelse på teksten */
    background-color: #6f8c52; /* Baggrundsfarve valgt fra vores farvepalette */
    color: #f2f2f2; /* Farven på teksten valgt fra vores palette */
    border: groove; /* Giver groove til kanten */
    border-color: #f2f2f2; /* Giver hvid kant */
    border-radius: 10px; /* Brugt for at gøre hjørnerne runde */
    padding: 10px; /* Sætter 10px padding rundt om  */
    cursor: pointer; /* Gør så musen bliver en 'pointer' når man er på knappen */
    position: fixed; /* Gør så knappen bliver i venstre hjørne når man scroler ned ad siden */
    left: 0; /* Refererer til positionen af knappen */
    margin-left: 15px; /* Sætter 15px margin i venstre side */
    margin-top: 5px; /* Sætter 5px margin i toppen */

}

#returnButton:hover {
    background-color: #5a733f;
}

#barchart {
    width: 100%;
    height: 500px;
    overflow: visible;
    padding-bottom: 50px;
    text-align: center;
}

#barchart-land {
    width: 100%;
    height: 500px;
    overflow: visible;
    padding-bottom: 50px;
    text-align: center;
}

#statisticsButtons {
    position: absolute; /* Absolut placering */
    top: 25px; /* Afstand fra bunden */
    right: 10px; /* Afstand fra venstre */
    display: flex; /* Flex layout */
    flex-direction: column; /* Vertikal retning */
    gap: 10px; /* Afstand mellem knapper */
    z-index: 30; /* Sørger for, at de er øverst */
}

#statisticsButtons button {
    padding: 10px 20px; /* Indre afstand */
    background-color: #6f8c52; /* Baggrundsfarve */
    color: #f2f2f2; /* Tekstfarve */
    border: groove; /* Fjerner kanten */
    border-color: #f2f2f2;
    border-radius: 10px; /* Afrundede hjørner */
    cursor: pointer; /* Hånd-cursor */
  }

#statisticsButtons button:hover {
    background-color: #5a733f;
}

#chartContainer {
    text-align: center;
}