body{
    background-color: #d9c3a9; /* Baggrundsfarve - fra vores farvepalette */
}

#statHeadline{
    color: #404040; /* Farven på teksten - fra vores farvepalette */
    font-size: 50px; /* Størrelsen på overskriften */ 
    text-align: center; /* Centrerer overskriften */
}

#returnButton{
    font-size: 16px; /* Størrelse på teksten */
    background-color: #6f8c52; /* Baggrundsfarve valgt fra vores farvepalette */
    color: #f2f2f2; /* Farven på teksten valgt fra vores palette */
    border: groove; /* Giver groove til kanten */
    border-color: #f2f2f2; /* Giver hvid kant */
    border-radius: 10px; /* Brugt for at gøre hjørnerne runde */
    padding: 10px; /* Sætter 10px padding rundt om  */
    cursor: pointer; /* Gør så musen bliver en 'pointer' når man er på knappen */
    position: fixed; /* Gør så knappen bliver i venstre hjørne når man scroler ned ad siden */
    left: 0; /* Refererer til positionen af knappen */
    margin-left: 15px; /* Sætter 15px margin i venstre side */
    margin-top: 5px; /* Sætter 5px margin i toppen */

}

#returnButton:hover {
    background-color: #5a733f;
}

#barchart {
    width: 100%;
    height: 500px;
    overflow: visible;
    padding-bottom: 50px;
    text-align: center;
}