/* Gør, at padding og border bliver inkluderet i elementets bredde og højde */
* {
  box-sizing: border-box;
}

/* Styler hele body-elementet */
body {
  background-color: #d9c3a9; /* Sætter en baggrundsfarve */
  cursor: url('sunCursor.png'), auto; /* Bruger en custom cursor med fallback */
  margin: 0; /* Fjerner standardmargen */
  overflow: hidden;
}

#headingContainer {
  position: absolute; /* Gør det muligt at placere begge elementer samlet */
  top: 20px; /* Placerer containeren 20px fra toppen */
  left: 50%; /* Placerer containerens venstre kant midt på skærmen */
  transform: translateX(-50%); /* Flytter containeren halvdelen af dens bredde tilbage for at centrere horisontalt */
  text-align: center; /* Centrerer teksten indeni */
  width: 700px; /* Bredden af containeren */
  max-width: 90%; /* Sikrer responsiv design */
}

/* Styling af #frontpageHeading */
#frontpageHeading {
  margin-top: 20px; /* Placerer heading lidt længere nede på skærmen */
  font-size: 4vw; /* Dynamisk skriftstørrelse baseret på skærmbredde */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Skrifttype */
  font-weight: bold; /* Gør teksten fed */
  color: #404040; /* Tekstfarve */
  text-align: center; /* Centrerer teksten */
  max-width: 90%; /* Begrænser bredden til 90% af skærmen */
  margin: 0 auto; /* Centrerer teksten horisontalt */
  z-index: 11; /* Sørger for, at den er bag andre elementer med højere z-index */
  transition: opacity 0.5s ease; /* Glidende overgang for gennemsigtighed */
  overflow: hidden; /* Skjuler overskydende indhold */
  border-bottom: 1px solid #000; /* Tilføjer en linje under teksten */
  padding-bottom: 10px; /* Lidt afstand under teksten */
}

#miniHeading {
  font-size: 17px; /* Skriftstørrelse */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Skrifttype */
  color: #404040; /* Tekstfarve */
  margin-top: 10px; /* Lidt afstand over teksten */
  margin-bottom: 0; /* Ingen afstand under teksten */
  font-weight: normal; /* Normal vægt for at skelne fra hovedoverskriften */
}


/* Når #frontpageHeading har klassen hidden */
#frontpageHeading.hidden {
  opacity: 0; /* Gør elementet gennemsigtigt */
  pointer-events: none; /* Deaktiverer klik og andre pointer-events */
  z-index: 11; /* Sørger for, at den er bag andre elementer med højere z-index */
  overflow: hidden; /* Skjuler overskydende indhold*/
}

#map-container {
  position: absolute; /* Absolut placering i forhold til body */
  top: 300px; /* Justér afstanden mellem kortet og overskriften */
  left: 0; /* Placerer containeren til venstre */
  width: 100%; /* Fylder hele bredden af skærmen */
  height: calc(100% - 200px); /* Fylder resten af skærmen under overskriften */
  z-index: -1; /* Sørger for, at den er bag andre elementer med højere z-index */
  display: grid; /* Brug grid-layout for centrering */
  place-items: center; /* Centrerer SVG'en både horisontalt og vertikalt */
}


/* Styling af SVG-elementer indenfor #map-container */
#map-container svg {
  position: absolute; /* Tillader præcis placering i forhold til #map-container */
  top: 50%; /* Flytter SVG'en 50% ned fra toppen af #map-container */
  left: 50%; /* Flytter SVG'en 50% ind fra venstre af #map-container */
  transform: translate(-54%, -57%); /* Flytter SVG'ens centrum yderligere mod venstre og op */
  width: 100%; /* SVG'en fylder hele bredden af #map-container */
  height: auto; /* Bevarer SVG'ens proportioner baseret på bredden */
  overflow: visible; /* Tillader indhold uden for SVG'en at blive vist */
}
/* Styling af landene i SVG'en */
path {
  stroke-width: 0.6px; /* Linjetykkelse */
  fill: #6f8c52; /* Fyldfarve på landene*/
}

/* Når musen svæver over et land */
path:hover {
  fill: #4d7327; /* Ændrer fyldfarve ved hover */
}

/* Styling af #sidebar, som er en fastgjort sidebar */
#sidebar {
  position: fixed; /* Fast placering i forhold til viewport */
  top: 5px; /* Afstand fra toppen */
  left: 5px; /* Afstand fra venstre */
  width: 150px; /* Sidebar bredde */
  height: 250px; /* Sidebar højde */
  background-color: #6f8c52; /* Baggrundsfarve */
  padding-top: 30px; /* Indre afstand fra toppen */
  padding-bottom: 2px; /* Indre afstand fra bunden */
  text-align: center; /* Centrerer tekst */
  z-index: 29; /* Sørger for, at sidebar er øverst */
  border-radius: 10px; /* Afrundede hjørner */
  cursor: auto; /* Standard cursor på sidebar */
  border: groove; /* Sætter groove på kanten */
  border-color: #f2f2f2; /* Sætter kanten til hvid */
}

/* Styling af links indenfor sidebar */
a {
  display: block; /* Hvert link opfører sig som en blok */
  margin: 5px 0; /* Lodret afstand mellem links */
  color: #404040; /* Tekstfarve */
  text-decoration: none; /* Fjerner understregning */
  font-size: 20px; /* Skriftstørrelse */
  transition: font-size 0.3s ease; /* Glidende overgang ved ændring af størrelse */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Skrifttype */
  font-weight: bolder; /* Gør teksten fed */
  z-index: 30; /* Sørger for, at elementet er øverst */
}

/* Når musen hover over links */
a:hover {
  color: #f2f2f2; /* Ændrer tekstfarve */
  font-size: 25px; /* Forstørrer tekst */
}

/* CSS-variabler til menu knap */
:root {
  --bar-width: 60px; /* Bredde på menu bars */
  --bar-height: 8px; /* Højde på menu bars */
  --hamburger-gap: 6px; /* Afstand mellem bars */
  --background: white; /* Baggrundsfarve på bars */
  --hamburger-margin: 15px; /* Margin omkring menu bars */
  --animation-timing: 200ms ease-in-out; /* animationstid */
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); /* Højde på hele menu (sammenfoldet) */
}

/* Styling af menu knap */
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237); /* Diagonal linje til X-ikonet */
  display: flex; /* Flex layout */
  flex-direction: column; /* Vertikal retning */
  gap: var(--hamburger-gap); /* Afstand mellem linjerne */
  width: max-content; /* Dynamisk bredde */
  position: absolute; /* Absolut placering */
  top: var(--hamburger-margin); /* Afstand fra toppen */
  left: var(--hamburger-margin); /* Afstand fra venstre */
  --foreground: #333; /* Standard farve */
  cursor: pointer; /* Hånd-cursor */
  z-index: 21; /* Sørger for, at den er øverst */
}

/* Når menuen har et input, der er tjekket (click) */
.hamburger-menu:has(input:checked) {
  --foreground: white; /* Ændrer farven til hvid (farven på X) */
}


/* Styling af menuens linjer */
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: ""; /* Tilføjer indhold uden tekst */
  width: var(--bar-width); /* Sætter bredden */
  height: var(--bar-height); /* Sætter højden */
  background-color: var(--foreground); /* Sætter  */
  border-radius: 99px; /* runder enderne af (gør dem runde) */
  transform-origin: left center; /* Rotationspunktet */
  transition: opacity var(--animation-timing), /* Glidende overgange mellem åben og luk */
      width var(--animation-timing),
      rotate var(--animation-timing),
      translate var(--animation-timing),
      background-color var(--animation-timing);
}

/* Skjuler den midterste linje ved click */
.hamburger-menu input {
  appearance: none; /* Fjerner standard styling */
  padding: 0; /* Ingen padding */
  margin: 0; /* Ingen margin */
  outline: none; /* Ingen outline */
  pointer-events: none; /* Deaktiverer interaktion */
}

/* Skjuler den midterste linje ved click */
.hamburger-menu input:checked {
  opacity: 0; /* Gør den usynlig */
  width: 0; /* Fjerner bredden */
}

/* Animation fra burger menu til X */
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg; /* Drejer den første linje */
  width: var(--x-width); /* Øger bredden */
  translate: 0 calc(var(--bar-height) / -2); /* Flytter den */
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg; /* Drejer den sidste linje */
  width: var(--x-width); /* Øger bredden */
  translate: 0 calc(var(--bar-height) / 2); /* Flytter den */
}



/* Styling af den skjulte sidebar */
.sidebar {
  transition: translate var(--animation-timing); /* Glidende overgang ved translation */
  translate: -100%; /* Flytter sidebar ud af syne */
  padding: 0.5rem 1rem; /* Indre afstand */
  background-color: var(--foreground); /* Baggrundsfarve */
  color: var(--background); /* Tekstfarve */
  max-width: 10rem; /* Maksimal bredde */
  max-height: fit-content; /* Tilpasser højden */
}

/* Når hamburger-menuens input er tjekket, vises sidebar */
.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0; /* Flytter sidebar på plads */
}

/* Tooltip styling */
#tooltip {
  position: absolute; /* Tooltip placering */
  background-color: #f2f2f2; /* Lys baggrund for læsbarhed */
  color: #404040; /* Tekstfarve */
  padding: 10px 15px; /* Afstand mellem tekst og kanter */
  border-radius: 8px; /* Afrundede hjørner for moderne udseende */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Ensartet skrifttype */
  font-weight: bold; /* Gør teksten markant */
  visibility: hidden; /* Skjules som standard */
  pointer-events: none; /* Undgå interaktion */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tilføjer en subtil skygge */
  z-index: 100; /* Sørger for, at tooltip altid vises øverst */
}

/* Tooltip container styling */
.tooltip-content {
  text-align: center; /* Centreret indhold */
  font-size: 1em; /* Standard tekststørrelse */
  line-height: 1.5; /* Giver bedre afstand mellem linjer */
}

/* Fremhævede elementer */
.tooltip-content .highlight {
  font-size: 1.3em; /* Gør fremhævede elementer større */
  color: #6f8c52; /* Grøn farve til fremhævelse */
  font-weight: bold; /* Gør teksten mere markant */
}

/* Beskrivelsestekst */
.tooltip-content .description {
  font-style: italic; /* Kursiv stil for adskillelse */
  color: #333; /* Mørkere tekstfarve for subtil kontrast */
}

/* Horisontal linje */
.tooltip-content hr {
  margin: 15px 0; /* Lodret afstand omkring linjen */
  border: none; /* Fjern standard grænser */
  border-top: 1px solid #ccc; /* Tynd grå linje for opdeling */
}



/* Styling af zoom-knapper (Placering) */
.buttons {
  position: absolute; /* Absolut placering */
  bottom: 20px; /* Afstand fra bunden */
  left: 10px; /* Afstand fra venstre */
  display: flex; /* Flex layout */
  flex-direction: column; /* Vertikal retning */
  gap: 10px; /* Afstand mellem knapper */
  z-index: 30; /* Sørger for, at de er øverst */
}

/* Styling af zoom-knapper (Udseende) */
.buttons button {
  padding: 10px 20px; /* Indre afstand */
  background-color: #6f8c52; /* Baggrundsfarve */
  color: #f2f2f2; /* Tekstfarve */
  border: groove; /* Fjerner kanten */
  border-color: #f2f2f2;
  border-radius: 10px; /* Afrundede hjørner */
  cursor: pointer; /* Hånd-cursor */
}

/* Hover-effekt på zoom-knapper */
.buttons button:hover {
  background-color: #5a733f; /* Ændrer baggrundsfarve */
}

/* Styling af popup-vindue */
#popUp {
  position: fixed; /* Fast placering */
  text-align: center; /* Centrerer tekst */
  top: 50%; /* Centrerer vertikalt */
  left: 50%; /* Centrerer horisontalt */
  transform: translate(-50%, -50%); /* Gør det præcis centreret */
  width: 550px; /* Bredde */
  height: 300px; /* Højde */
  background: white; /* Baggrundsfarve */
  padding: 20px; /* Indre afstand */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Tilføjer skygge */
  border-radius: 10px; /* Afrundede hjørner */
  z-index: 50; /* Sørger for, at den er øverst */
  display: none; /* Skjules som standard */
  font-family: 'Arial', sans-serif; /* Sætter brødtekstens font */

}

/* Overlay til popup */
#popUpOverlay {
  position: fixed; /* Fast placering */
  top: 0; /* Øverst */
  left: 0; /* Til venstre */
  width: 100%; /* Fylder hele skærmbredden */
  height: 100%; /* Fylder hele skærmhøjden */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 49; /* Sørger for, at det er under popup */
  display: none; /* Skjules som standard */
}

/* Lukke-knap til popup */
#closePopUp {
  background: #6f8c52; /* Baggrundsfarve */
  color: white; /* Tekstfarve */
  border: groove; /* Ingen kant */
  border-color: #f2f2f2;
  padding: 10px 20px; /* Indre afstand */
  cursor: pointer; /* Hånd-cursor */
  border-radius: 10px; /* Afrundede hjørner */
  margin-top: 15px; /* Margin i toppen */
}

#closePopUp:hover {
  background-color: #5a733f; /* Farve når man hover over knappen */
}

.sidebar2 {
  position: fixed; /* Fastgør sidebar til skærmen */
  top: 30px; /* Afstand fra toppen */
  right: -300px; /* Placer sidebar uden for skærmen */
  width: 250px; /* Bredde */
  height: auto; /* Automatisk højde */
  background-color: #edd7be; /* Baggrundsfarve */
  padding: 0.5rem 1rem; /* Indre afstand */
  text-align: left; /* Venstrejusteret tekst */
  z-index: 29; /* Sørger for, at den er synlig */
  border-radius: 10px; /* Runde hjørner */
  border: groove; /* Groove-stil kant */
  border-color: #f2f2f2; /* Kantfarve */
  transition: right 0.3s ease-in-out; /* Glidende overgang */
}

.sidebar2.visible {
  right: 30px; /* Flytter sidebar ind på skærmen */
}


/* Styling af tooltip (info om lande i sidebar) */
#tooltip2 {
  color: #404040; /* Tekstfarve */
  padding: 5px 1px; /* Indre afstand */
  border-radius: 4px; /* Afrundede hjørner */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Skrifttype */
  visibility:hidden; /* Skjules som standard */
  pointer-events: none; /* Ingen interaktion muligt */
}

h4 {
  font-size:xx-large;
  margin-top: 10px;
  padding-bottom: -40px;
  color: #4d7327;
}