body {
    background-color: #f2f2f2;
}

#frontpage_heading {
    font-size: 60px;
    color: #4d7327;
    text-align: center;
    text-shadow: 
        1px 1px 0px #404040, 
        2px 2px 0px #404040,  
        3px 3px 0px #404040,  
        4px 4px 0px #404040,  
        5px 5px 0px #404040;
}

#map-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
path {
    stroke-width: 0.5px;
}
path:hover {
    fill: #27789b;
}